# Ignore SQLite database files
**/*.sqlite3

# Ignore test output and private code coverage files
**/*.xml
**/.coverage

# Ignore compiled Python source files
**/*.pyc
**/pycache

# Ignore macOS directory metadata files
**/.DS_Store
